<aside class="admin-sidebar">
  <div class="sidebar-header">
    <h3>Admin Menu</h3>
  </div>
  <ul class="sidebar-nav">
    <li>
      <a href="/admin/dashboard">
        <span>Daftar Artikel</span>
      </a>
    </li>
    <li>
      <a href="/admin/articles/new">
        <span>Tambah Artikel Baru</span>
      </a>
    </li>
    <li>
      <a href="/admin/categories">
        <span>Kelola Kategori</span>
      </a>
    </li>
    <li>
      <a href="/admin/comments"> <span>Kelola Komentar</span> </a>
    </li>
  </ul>
</aside>
